img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.site-logo img {
  // visibility: hidden;
}
.nav-menu a,
.nav-menu a:hover {
  color: inherit;

}

/*
## Links
--------------------------*/
.nav-menu {  
  a {
    color: inherit;
  }

  a:visited {
    color: inherit;
  }

  a:hover,
  a:focus,
  a:active {
    color: inherit;
  }
}

:focus {
  outline-color: $tomato;
}
hr {
  // margin-bottom: 4em;
}

.site-content .widget-area {
	float: left;
	overflow: hidden;
	width: 25%;
}
.site-footer {
	clear: both;
	width: 100%;
}
@media screen and (max-width: 768px) {
    .mobile-hidden {
        display: none;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*
## Buttons
--------------------------*/

.button-wrap,
.button-wrap-parent > .textwidget {
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    align-items: flex-end;
}

a.button {
    padding: .3em;
    border: 2px solid rgba(118, 118, 118, 0.12);
    border-radius: 10px;
    color: #767676;
    text-decoration: none;
    width: 280px;
    height: 78px;
    margin-bottom: 2em;
    display: flex;

    i {
        margin: .5em;
        color: #fff;
    }
}

.button-inner {
    border-radius: 5px;
    background-color: $teal-lt;
    display: flex;
    flex: 1;

    span {
      background-color: #fff;
      padding: .2em 1em;
      border: 2px solid #b2eae4;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      width: 100%;
      display: flex;
      align-items: center;
      text-align: left;
    }
}

.featured-image {
    margin: 0;
    border-top: 3px solid $teal-lt;
    border-bottom: 3px solid $teal-lt;
}

/*--------------------------------------------------------------
## Breadcrumbs
--------------------------------------------------------------*/

#breadcrumbs {
    font-size: 9px;
    color: $darkgray;
}

/*--------------------------------------------------------------
## Blockquotes
--------------------------------------------------------------*/

blockquote {
    border-top: 4px solid $teal-lt;
    border-left: none;
    border-bottom: 4px solid $teal-lt;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-left: 4em;
    font-size: .95em;
    color: $teal;
    font-style: italic;
    margin: 30px 0;
    line-height: 1.4;
    position: relative;
    clear: both;



    p {
        display: inline;
    }
    span {
        font-weight: bold;
        margin-left: 10px;
        white-space: nowrap;
    }
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 4em;
  font-weight: bold;
  color: $teal-lt;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top: 0;
}


/*
## Blockquotes in Sidebars
--------------------------*/

.widget-area blockquote {
    background-color: #fff;
    margin: 0 10%;
    font-size: 75%;
}



/*--------------------------------------------------------------
## Topics Loop on Category Pages
--------------------------------------------------------------*/

ul.topics-list {

  margin-bottom: 3em;
  max-width: 90%;
  // font-size: .95em;
  font-weight: 500;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  li {
    flex: 0 1 300px;
    margin-bottom: .6em;
  }
  li::before {
    content: "\203A";
    margin-right: 8px;
  }

  a {
    color: #000;
    cursor: auto;
  }
  a:hover {
    color: $tomato;
  }
  /* a:before {
    content: "\00BB";
    margin-right: 6px;
  } */
  a:hover:before {
    text-decoration: none;
    underline: none;
  }
}

@media screen and (max-width: 840px) {

  ul.topics-list {
    margin: 1.1em 0 0;
  }

}
