.site-logo img {
  // visibility: hidden;
}
.nav-menu a,
.nav-menu a:hover {
  color: inherit;

}


/*
## Links
--------------------------*/
.nav-menu {  
  a {
    color: inherit;
  }

  a:visited {
    color: inherit;
  }

  a:hover,
  a:focus,
  a:active {
    color: inherit;
  }
}

:focus {
  outline-color: $tomato;
}
hr {
  // margin-bottom: 4em;
}

.site-content .widget-area {
	float: left;
	overflow: hidden;
	width: 25%;
}
.site-footer {
	clear: both;
	width: 100%;
}
@media screen and (max-width: 768px) {
    .mobile-hidden {
        display: none;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*
## Buttons
--------------------------*/

.button-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 82px;
}

a.button {
    padding: .3em;
    border: 2px solid rgba(118, 118, 118, 0.12);
    border-radius: 10px;
    color: #767676;
    text-decoration: none;
    width: 280px;
    height: 78px;
    margin: 0 1.2em 1em 1.2em;
    display: flex;

    i {
        margin: .5em;
        color: #fff;
    }
}

.button-inner {
    border-radius: 5px;
    background-color: $teal-lt;
    display: flex;
    flex: 1;

    span {
        background-color: #fff;
    padding: .2em 1em;
    border: 2px solid #b2eae4;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    display: flex;
      align-items: center;
    }
}

.featured-image {
    margin: 0;
    border-top: 3px solid $teal-lt;
    border-bottom: 3px solid $teal-lt;
}


blockquote {
    border-top: 4px solid $teal-lt;
    border-left: none;
    border-bottom: 4px solid $teal-lt;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-left: 4em;
    font-size: .95em;
    color: $teal;
    font-style: italic;
    margin: 30px 0;
    line-height: 1.4;
    position: relative;
    clear: both;



    p {
        display: inline;
    }
    span {
        font-weight: bold;
        margin-left: 10px;
        white-space: nowrap;
    }
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 4em;
  font-weight: bold;
  color: $teal-lt;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top: 0;
}

.widget-area blockquote {
    background-color: #fff;
    margin: 0 10%;
    font-size: 75%;
}


.entry-header {
  border-bottom: 1px solid $teal; 
}

.entry-title,
.category-title {
  color: $teal;
}
.category-title {
  margin-bottom: .8em;
}
