.site-logo img {
  // visibility: hidden;
}
.nav-menu a,
.nav-menu a:hover {
  color: inherit;

}


/*
## Links
--------------------------*/
.nav-menu {  
  a {
    color: inherit;
  }

  a:visited {
    color: inherit;
  }

  a:hover,
  a:focus,
  a:active {
    color: inherit;
  }
}

:focus {
  outline-color: $tomato;
}
hr {
  // margin-bottom: 4em;
}

.site-content .widget-area {
	float: left;
	overflow: hidden;
	width: 25%;
}
.site-footer {
	clear: both;
	width: 100%;
}
@media screen and (max-width: 768px) {
    .mobile-hidden {
        display: none;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.featured-image {
    margin: 0;
    border-top: 3px solid $teal-lt;
    border-bottom: 3px solid $teal-lt;
}


blockquote {
    border-top: 4px solid $teal-lt;
    border-left: none;
    border-bottom: 4px solid $teal-lt;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    color: $teal;
    font-style: italic;
    margin: 30px 0;
    line-height: 1.4;
    position: relative;


    p {
        display: inline;
    }
    span {
        font-weight: bold;
        margin-left: 10px;
        white-space: nowrap;
    }
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 80px;
  font-weight: bold;
  color: $teal-lt;
  
  /*Positioning*/
  position: absolute;
  left: 15px;
  top: 0;
}

.widget-area blockquote {
    background-color: #fff;
    margin: 0 10%;
    font-size: 75%;
}


.entry-header {
  border-bottom: 1px solid $teal; 
}

.entry-title,
.category-title {
  color: $teal;
}
.category-title {
  margin-bottom: .8em;
}
