input.wpcf7-form-control {
    border-radius: 0;

}

input.wpcf7-validates-as-required {
	border-left: 4px solid $tomato;
	height: 40px;
}

form {
	a {
		color: $tomato;
	}
	a:visited,
	a:hover {
		color: $tomato;
	}
	.flex-wrap {
		display: flex;
		max-width: 600px;
		flex-flow: row wrap;

		p {
			flex: 1 0 50%;
		}
		p.full-width {
			flex: 1 0 100%;
		}
	}
	textarea {
    	font-size: 1.3rem;
    	padding: .8em 1em;
	}
}

/* @media screen and (max-width: 544px) {

	.wpcf7-form-control-wrap {
		width: 100%;
	}

} */

article#post-1890 {

	.entry-header {
	    float: right;
	    width: 75%;
	}
	.entry-content {
    	clear: both;
    	padding-top: 90px;
    	max-width: 600px;

    	p:first-child {
    		max-width: 500px;
    	}
	}

}

// PlanSo Form

.form-control {
	border-radius: 0!important;
	height: 40px;
}
.form-control:focus {
    border-color: $tomato;
}

input.required-field {
    // border-left: 4px solid #FF8F71;
}
input[data-required="required"] {
	border-left: 4px solid #FF8F71;
}
.form-group {
    margin-bottom: 20px;
}
.planso-form-builder .container-fluid {
    padding: 0!important;
}


