/*
Find a vet search form
--------------------------*/

.map-container{
	height: 0;
	overflow: hidden;
	padding-bottom: 75%;
	position: relative;
	width: 100%;}
	.map-canvas {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}