.gray-bg {
	background-color: $lightgray;
}

#aafp-logo {
	float: left;
    max-width: 80px;
    margin-right: 20px;
}

.widget-row {
	background-color: $lightgray;
}

.aafp-foot {
	padding-top: 20px;
    padding-bottom: 20px;
}

ul#footer-menu {
    display: flex;
    flex-direction: column;

    li {
		margin: .5em 0;

		a {
			font-size: 1.5em;
			font-weight: bold;
			color: $teal;
		}
		a:hover,
		a:visited {
			color: $teal;
		}
    }
}

.widget_nav_menu {
	
	display: flex;
    flex-direction: column;

    li {
		margin: .5em 0;

		a {
			font-size: 1em;
			// font-weight: bold;
			color: $teal;
		}
		a:hover,
		a:visited {
			color: $teal;
		}
    }
}

footer .gray-bg {
	padding: 1.2em 5em;
}

.gray-bg:after {
    content: "";
    display: block;
    clear: both;
}

footer .aafp-foot {
	margin: 0;
	margin: 0 1.5rem;
	padding: 2rem;
}