.site-footer {
	font-size: .875em;
}
.gray-bg {
	background-color: $lightgray;
}

#aafp-logo {
	float: left;
    max-width: 80px;
    margin-right: 20px;
}

.widget-row {
	background-color: $lightgray;
}



/* ul#footer-menu {
    display: flex;
    flex-direction: column;

    li {
		margin: .5em 0;

		a {
			font-size: 1.5em;
			font-weight: bold;
			color: $teal;
		}
		a:hover,
		a:visited {
			color: $teal;
		}

    }
    
} */

// Footer Nav Menu
#menu-footer-menu {

	line-height: 2;
    padding: .8em 0;

	a {
		font-weight: bold;
	}
	
}


// Add arrows after footer menu links
#menu-footer-menu li a::after {
	content: "\00BB";
	margin-left: 5px;
}


footer .gray-bg {
	padding: 1.2em 5em;
}

.gray-bg:after {
    content: "";
    display: block;
    clear: both;
}

.aafp-foot {
	max-width: 1170px;
	margin: 0 auto;
	padding: 2rem;
}