.site-header {
	display: flex;
	max-height: 80px;
	justify-content: space-between;
}

ul#primary-menu {
    display: flex;
    justify-content: flex-end;
}

.site-logo {
	z-index: 99;
	flex: 1 0 25%;
}

ul#primary-menu {

	height: 100%;

	li {
	    border-right: 2px solid $teal;
	    display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 10px;
		text-align: center;
		flex: 1;
	}
	li:last-child {
		border-right: none;
	}

}

.menu-top-nav-container {
    height: 100%;
}

.main-navigation a {
    color: $teal;
    font-size: 1.4em;
}