.site-header {
	display: flex;
	max-height: 120px;
	justify-content: space-between;
}

@media screen and (max-width: 768px) {
	.site-header {
	    display: none;
	}
}

ul#primary-menu {
    display: flex;
    justify-content: flex-end;
}

header .content-wrap {
	display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
    width: 100%;
}

.main-navigation {
	flex: 1;
	color: $teal;
	font-size: .9em;
}

/*--------------------------------------------------------------
## Logo
--------------------------------------------------------------*/

.site-logo {
	z-index: 99;
	flex: 1 1 33%;
	padding: 0;
}

#site-navigation {
	flex: 1 1 67%;
}

#primary-menu {

	height: 100%;

	li {
	    border-right: 2px solid $teal;
	    display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px;
		text-align: center;
		flex: 1;
	}
	li:last-child {
		border-right: none;
	}

}

.menu-top-nav-container {
    height: 100%;
}

