.outter-wrap {
    max-width: 1170px;
    margin: 0 auto;
}

.content-wrap {
    max-width: 1170px;
    padding: 0 20px;
    margin: 0 auto;
}

.content-container {
    padding: 0 15px;
}

#primary {
    display: flex;
}
.primary.home {
    padding: 0 20px;
    padding: 0 3vw;
}
.widget-area {
    flex: 0 0 350px;
    margin-right: 30px;
}

.secondary {
    width: 340px;
    flex: 0 0 340px;
    margin-right: 4%;
}



.site-content {
    max-width: 1170px;
    margin: 0 auto;

/*     display: flex;
    flex-flow: row wrap; */
}

.site-main {
    flex: 1;
}

.content-area {
    /* width: 75%; */
    /* float: right; */
    flex: 1 1 400px;
}

footer {
    margin-top: 2em;
}

@media screen and (max-width: 840px) {
    #secondary {
        display: none;
    }
    #primary {
        display: block;
    }
    .button-wrap {
        margin-top: 0;
    }
    .entry-header {
        margin: 0 -20px;
    }
    .entry-header h1 {
        padding: 1em 0;
        text-align: center;
    }
}



/*--------------------------------------------------------------
## Mobile Layout
--------------------------------------------------------------*/

@media screen and (max-width: 840px) {


    #breadcrumbs {
        display: none;
    }

    .featured-image {
        display: none;
    }

    .site-main h1 {
        background-color: $teal;
        color: #fff;
    }

}


