.outter-wrap {
    max-width: 1170px;
    margin: 0 auto;
}

.content-wrap {
    max-width: 1170px;
    // padding: 0 20px;
    margin: 0 auto;
}

/* .content-container {
    padding: 0 15px;
} */
.entry-content {
    // padding: 0 2rem;
}

#primary {
    display: flex;
}
.primary {
    margin: 0 1.5rem;
}
.primary.home {
    /* padding: 0 20px;
    padding: 0 3vw; */
}
.widget-area {
    flex: 0 0 350px;
    margin-right: 30px;
}
#sidebar-home {
    margin: 82px 0 0 50px;
}
.secondary {
    width: 340px;
    flex: 0 0 340px;
    margin-right: 4%;
}



.site-content {
    max-width: 1170px;
    margin: 0 auto;

/*     display: flex;
    flex-flow: row wrap; */
}

.site-main {
    flex: 1;
}

.content-area {
    /* width: 75%; */
    /* float: right; */
    flex: 1 1 400px;
}

/*--------------------------------------------------------------
## 
--------------------------------------------------------------*/

.entry-header {
  border-bottom: 1px solid $teal; 
}

.entry-title,
.category-title {
  color: $teal;
  // padding: 0 0 0 2rem;
}
.category-title {
  margin-bottom: .8em;
}

footer {
    margin-top: 2em;
}


/*--------------------------------------------------------------
## Mobile Layout
--------------------------------------------------------------*/

@media screen and (max-width: 840px) {
    #secondary {
        display: none;
    }
    #primary {
        display: block;
    }
    #sidebar-home {
        margin: 0 0 0 0;
    }
    .button-wrap,
    .button-wrap-parent > .textwidget {
        margin-top: 0;
    }
    .entry-header {
        border-bottom: none;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
    .entry-title, 
    .category-title {
        background-color: $teal;
        color: #fff;
        margin: 0;
        
        // margin: 0 -1.5rem 1.5em;
        text-align: center;
        line-height: 60px;
    }

    .category-title {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }

    .entry-title::before {
        content: "You Care, We Care, Cat Care. Find it Here.";
        display: block;
        color: #fff;
        background-color: $darkgray;
        font-size: 60%;
        font-style: italic;
        line-height: 60px;
        font-weight: 500;
    }

    #breadcrumbs,
    .sidebar,
    .featured-image {
        display: none;
    }
}
