.outter-wrap {
    max-width: 1170px;
    margin: 0 auto;
}

.content-wrap {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;

}






.site-content {
    max-width: 1170px;
    margin: 0 auto;

/*     display: flex;
    flex-flow: row wrap; */
}

.site-main {
    padding: 0 2em;
}

.content-area {
    /* width: 75%; */
    /* float: right; */
    flex: 1 1 400px;
}


