
// Secondary nav menu

#secondary-menu {
	list-style: none;
    margin: 0 0 2em 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

#secondary-menu li {
	

	a {
	    display: flex;
    	flex-direction: column;
    	margin: 1em;
    	border-radius: 6px;
    	background-color: #767676;
    	background-color: $lightgray;
    	text-decoration: none;
	}

	img {
		padding-bottom: 0;
		border-bottom: 4px solid $tomato;
		border-top-left-radius: 6px;
    	border-top-right-radius: 6px;
	}

	.menu-image-title {
		color: $tomato;
		padding: .4em;
    	text-transform: uppercase;
    	font-weight: bold;
	}
}
