// Primary Nav

// highlight current page
ul#primary-menu li.current_page_item,
ul#primary-menu li.current_page_ancestor {
    border-bottom: 4px solid $tomato;
}

/*--------------------------------------------------------------
## Top Nav (main)
--------------------------------------------------------------*/

#primary-menu {

  height: 100%;
  max-height: 70px;

  li {
      border-right: 1px solid $teal;
      display: flex;
    align-items: center;
    justify-content: center;
    padding: .3em .8em;
    text-align: center;
    flex: 1;
  }
  li:last-child {
    border-right: none;
  }

}

/*--------------------------------------------------------------
## SlickNav
--------------------------------------------------------------*/

.slicknav_brand {
  overflow: visible;

  img {
    z-index: 999;
  }
  
}

.slicknav_menu {
  height: 65px;
}

@media only screen and (max-width: 768px) {
  .slicknav_nav li a {
      padding: 12px 10px;
  }
}
.slicknav_nav {
  background-color: $teal;

  li {
    border-top: 1px solid #fff;
  }
}

/*--------------------------------------------------------------
## Categories Nav Menu (Home Page)
--------------------------------------------------------------*/

nav#secondary-navigation button {
  display: none;
}

#secondary-menu {
  position: relative;
  list-style: none;
  margin: 0 0 2em 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#secondary-menu li {

  box-sizing: border-box;
  padding: 0;
  flex: 1;
  margin: 15px;
  height: auto;
  // display: flex;
  // justify-content: center;
	

	a {
	    display: flex;
    	flex-direction: column;
    	margin: 0;
    	border-radius: 6px;
    	background-color: #767676;
    	background-color: $lightgray;
    	text-decoration: none;
	}

	img {
		padding-bottom: 0;
		border-bottom: 4px solid $tomato;
		border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 100%;
    height: auto;
	}

	.menu-image-title {
		color: $tomato;
		padding: .4em;
    	text-transform: uppercase;
    	font-weight: bold;
	}
}

@media only screen and (max-width: 992px) {
  
  .site-header {
    font-size: .85em;
  }

  .slogan-bar {
    font-size: 1.1em;
  }

  #secondary-menu li {
    width: 33.33%;
    flex-grow: 0;
    flex-basis: calc(33.33% - 30px);
  }
}

@media only screen and (max-width: 740px) {

  #secondary-menu li {
    flex-basis: calc(33.33% - 30px);
  }
}

@media only screen and (max-width: 540px) {

  #secondary-menu li {
    flex-basis: calc(50% - 30px);
  }

  .slogan-bar {
    font-size: 1em;
  }
}

@media only screen and (max-width: 360px) {

  .slogan-bar {
    font-size: .85em;
  }

}

.widget_nav_menu {

  a:hover {
    text-decoration: none;
  }

}

.widget_nav_menu .current_page_item .sub-menu {
  font-weight: normal;
}




/* .widget-area .current-menu-item {
	font-weight: bold;
	
	a {
		color: $teal;
	}
	
} */
/* #primary-menu {
  z-index: 99;
}
#primary-menu[aria-expanded="false"] {
  display: none!important;
}
.main-navigation.toggled ul {
    display: flex;
    flex-wrap: wrap;
} */

/*--------------------------------------------------------------
## Mobile Nav
--------------------------------------------------------------*/

