// Primary Nav

// highlight current page
ul#primary-menu li.current_page_item,
ul#primary-menu li.current_page_ancestor {
    border-bottom: 4px solid $tomato;
}

/*--------------------------------------------------------------
## Top Nav (main)
--------------------------------------------------------------*/

#primary-menu {

  height: 100%;
  max-height: 70px;

  li {
      border-right: 1px solid $teal;
      display: flex;
    align-items: center;
    justify-content: center;
    padding: .3em .8em;
    text-align: center;
    flex: 1;
  }
  li:last-child {
    border-right: none;
  }

}

/*--------------------------------------------------------------
## SlickNav
--------------------------------------------------------------*/

.slicknav_brand {
  overflow: visible;

  img {
    z-index: 999;
  }
  
}

.slicknav_menu {
  height: 65px;
}

@media only screen and (max-width: 768px) {
  .slicknav_nav li a {
      padding: 12px 10px;
  }
}
.slicknav_nav {
  background-color: $teal;

  li {
    border-top: 1px solid #fff;
  }
}

/*--------------------------------------------------------------
## Categories Nav Menu (Home Page)
--------------------------------------------------------------*/

nav#secondary-navigation button {
  display: none;
}

#secondary-menu {
  position: relative;
  list-style: none;
  margin: 0 0 2em 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#secondary-menu li {

  box-sizing: border-box;
  padding: 0;
  flex: 1;
  margin: 15px;
  height: auto;
  // display: flex;
  // justify-content: center;
	

	a {
	    display: flex;
    	flex-direction: column;
    	margin: 0;
    	border-radius: 6px;
    	background-color: #767676;
    	background-color: $lightgray;
    	text-decoration: none;
	}

	img {
		padding-bottom: 0;
		border-bottom: 4px solid $tomato;
		border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 100%;
    height: auto;
	}

	.menu-image-title {
		color: $tomato;
		padding: .4em;
    	text-transform: uppercase;
    	font-weight: bold;
	}
}

@media only screen and (max-width: 992px) {
  
  .site-header {
    font-size: .85em;
  }

  .slogan-bar {
    font-size: 1.1em;
  }

  #secondary-menu li {
    width: 33.33%;
    flex-grow: 0;
    flex-basis: calc(33.33% - 30px);
  }
}

@media only screen and (max-width: 740px) {

  #secondary-menu li {
    flex-basis: calc(33.33% - 30px);
  }
}

@media only screen and (max-width: 540px) {

  #secondary-menu li {
    flex-basis: calc(50% - 30px);
  }

  .slogan-bar {
    font-size: 1em;
  }
}

@media only screen and (max-width: 360px) {

  .slogan-bar {
    font-size: .85em;
  }

}

/*--------------------------------------------------------------
## Widget Nav's
--------------------------------------------------------------*/

.widget_nav_menu {
  
  display: flex;
    flex-direction: column;

    li {
    margin: .5em 0;

    a {
      font-size: 1em;
      // font-weight: bold;
      color: $teal;
    }
    a:hover,
    a:visited {
      color: $teal;
    }
    }
}

.widget_nav_menu {

  a:hover {
    text-decoration: none;
  }

}

.widget_nav_menu .current_page_item .sub-menu {
  font-weight: normal;
}




/* .widget-area .current-menu-item {
	font-weight: bold;
	
	a {
		color: $teal;
	}
	
} */
/* #primary-menu {
  z-index: 99;
}
#primary-menu[aria-expanded="false"] {
  display: none!important;
}
.main-navigation.toggled ul {
    display: flex;
    flex-wrap: wrap;
} */

/*--------------------------------------------------------------
## Mobile Nav
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Sidebar 'All Pages' Nav Menu (pages)
--------------------------------------------------------------*/

// Styles for pages menu 
.widget_pages {
    margin: 1.25em 10% 3em;
}
// Show ONLY the CURRENT page and it's children, by hiding siblings and unhiding the current item and it's children

.widget_pages {
  .widget-title,
  li {
    display: none;
  }
}

// Show and style all list items that are children of the top level ancestor of the current page.
.widget_pages li.current_page_item > .children li,
.widget_pages li.current_page_ancestor > .children li,
.widget_pages li.current_page_ancestor {
    display: list-item;

    a {
      color: $darkgray;
      line-height: 2;
      font-style: italic;
    }
}

.widget_pages li.current_page_item > a {
  
  color: $teal;
  font-weight: bold;
  
  
  text-decoration: none;
  font-style: inherit;
  
}

// TOP LEVEL ANCESTOR of current page
.widget_pages > ul > li.current_page_ancestor > a,
.widget_pages > ul > li.current_page_item > a {
  font-size: 1.25em;
  color: $teal;
  font-weight: bold;
  border-bottom: 1px solid $teal;
  text-decoration: none;
  font-style: inherit;
  display: flex;
}

.widget_pages > ul > li.page_item > .children > li::before,
.widget_pages > ul > li.page_item > .children > li.page_item_has_children .children > li.page_item_has_children .children > li::before {
    content: "\00BB";
    margin-right: 5px;
}

.widget_pages > ul > li.page_item > .children > li.page_item_has_children .children > li::before,
.widget_pages > ul > li.page_item > .children > li.page_item_has_children .children > li.page_item_has_children .children li.page_item_has_children .children > li::before {
    content: "\203A";
    margin-right: 5px;
}

// CURRENT PAGE
.widget_pages li.current_page_item {
    display: list-item;
}

// When the CURRENT PAGE is a TOP lvl Page
.widget_pages > li.current_page_item {

}

.widget_pages li.current_page_item > a {
  color: $teal!important;
  font-weight: bold;
  font-style: normal;
}

.widget_pages > ul > li.current_page_ancestor > .children,
.widget_pages > ul > li.current_page_item > .children {
    margin-top: 1.3em;
    margin-left: 0;
    font-size: .875em;
}

