.widget-area {
    flex: 0 0 370px;
    background-color: $lightgray;
	// padding: 0 2em;

	.widget-title {
	}
}

section#text-2 {
	margin: 0;
	padding: 2em 0 1.5em;
	background-color: $darkgray;
	color: #fff;
	font-style: italic;

	p {
		margin: 0 0 0 8em;
	}
}

.widget_nav_menu {
    margin-bottom: 4em;

    a,
    a:hover,
    a:visited {
    	color: $darkgray;
    }
}

.widget_nav_menu {

	padding: 0 15%;

	.widget-title {
		color: $teal;
		border-bottom: 1px solid teal;
		margin-bottom: .8em;
		height: auto;
		padding-bottom: .3em;
	}

}

#menu-category-pages li {

	margin-bottom: .5em;

	a {
		font-size: .9em;
		font-style: italic;
	}
}

// Slogan
.widget-area #text-3 {
    background-color: $darkgray;
    padding: 1.75em 0 1.25em 25%;
    font-style: italic;
    color: #fff;
}