body,
button,
input,
select,
textarea {
	color: #333333;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

.site-content {
	font-size: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin-top: 2.5rem;
	margin-bottom: 1rem; 
}

p {
	margin-bottom: 1.5em;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.375em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1.125em; }
h5 { font-size: 1em; }
h6 { font-size: .875em; }
p { font-size: .85em; }




/*
## Global Responsive Typography
------------------------------------*/

.site-main {
	font-size: 1rem;
	line-height: 1.6em;
}

@media screen and (min-width: 40em) {

	.site-main {
		font-size: 1em;
		// line-height: 1.6em;
	}

}